.profile>span:nth-child(2){min-width:0;flex:1}
.profile>span:nth-child(2) b,.profile>span:nth-child(2) small{max-width:135px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.profile>i{font-size:10px;font-style:normal;cursor:pointer}
